{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block navbar %}{% endblock %}

{% block monTitre %}Page d'administration{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{message}}</div>
{% endfor %}
<a class="btn btn-success m-1" href="{{path('admin_aliment_creation')}}">Ajouter</a>
<table class="table m-1">
    <thead>
        <tr>
            <th>Image</th>
            <th>Aliment</th>
            <th>Prix</th>
            <th>Calories</th>
            <th>Protéines</th>
            <th>Glucides</th>
            <th>Lipides</th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for aliment in aliments %}
            <tr>
                <td scope="row"><img src="{{asset('images/' ~ aliment.image)}}" class="adminImg"></td>
                <td><strong>{{aliment.nom}}</strong></td>
                <td>{{aliment.prix}}</td>
                <td>{{aliment.calories}}</td>
                <td>{{aliment.proteine}}</td>
                <td>{{aliment.glucide}}</td>
                <td>{{aliment.lipides}}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('admin_aliment_modification', {'id': aliment.id}) }}">Modifier</a>
                    <form method="POST" action="{{path('admin_aliment_supression', {'id': aliment.id}) }}" onsubmit="return  confirm('Ok ?')" style="display: inline-block">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ aliment.id)}}"> 
                        <input type="submit" class="btn btn-danger" value="supprimer">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

